* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: inter;
  src: url();
}

body {
  max-width: 1920px;
  background-image: url(images/unsplash__AjqGGafofE.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(50px);
  width: 100%;
  height: 84px;
  padding: 20px 307px;
  display: flex;
  flex-direction: row;

  .nav__logo {
    display: flex;
    flex-direction: row;
    img {
      width: 39px;
      height: 44px;
    }

    h1 {
      color: white;
      font-size: 28px;
      font-family: Inter;
      margin: 2px 20px;
    }
  }

  .nav__links {
    ul {
      width: 400px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 10px;
      margin-left: 200px;
      li {
        width: 50px;
        list-style: none;
        margin-left: 70px;

        a {
          text-decoration: none;
          color: white;
          font-size: 22px;
        }

        a:hover {
          color: #0fae96;
        }
      }
    }
  }

  .nav__options {
    display: flex;
    align-items: center;
    margin-left: 180px;
    background-color: transparent;

    select {
      background-color: transparent;
      border: 1px solid transparent;
      color: white;
      font-size: 18px;

      option {
        background-color: transparent;
      }
    }
  }

  .nav__icons {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 100px;

    img {
      margin-left: 10px;
      width: 35px;
    }
  }
}

.main {
  width: 100%;
  height: 600px;
  padding-top: 64px;
  display: flex;
  flex-direction: row;

  .main__img {
    width: 409px;
    height: 409px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    margin-left: 307px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 345px;
      height: 217px;
    }
  }

  .main__info {
    color: white;
    width: 900px;
    margin-left: 80px;
    font-family: Calibri;

    h1 {
      font-size: 28px;
      color: white;
      line-height: 35px;
    }
    h2 {
      margin: 20px 0;
      font-size: 26px;
    }
    p {
      font-size: 18px;
      margin-bottom: 20px;
      font-family: Calibri;
      font-weight: 100;
    }
    a {
      color: white;
    }
  }
}

.scroll {
  width: 409px;
  height: 55px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-left: 307px;
  margin-top: -100px;

  .scr1 {
    width: 54px;
    height: 54px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    #comp {
      width: 42px;
      height: 30px;
    }
  }
}
